{% extends 'base.html' %}

{% block content %}

<section class="projects-section">
      <div class="container-fluid px-4">
          <div class="row justify-content-center">
        <div class="col-md-12 heading-section text-center ftco-animate mb-5 m-top">
           
          <h2 class="mb-2 text-light">Our Projects</h2>
        </div>
      </div>
          <div class="row">
            {% for project in projects %}
              <div class="col-md-4">
                  <div class="car-wrap ftco-animate bg-project">

                      <a href="{% url 'project' project.id %}"><div class="img d-flex align-items-end" >
                        <img class="img img-fluid" src="{{project.photo_main.url}}" alt="">
                      </div></a>
                      <div class="text p-4 text-center">
                          <h2 class="mb-2 project-title"><a href="#">{{project.title}}</a></h2>
                          <span class='text-light'>{{project.description}}</span>
                          <a href="{% url 'project' project.id %}" class="btn btn-black btn-block btn-outline-black ">More</a>
                      </div>
                  </div>
                </div>
          {% endfor %}
          </div>
      </div>
  </section>


{% endblock %}